html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a,
input,
button,
textarea {
  outline: transparent;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  display: inline-block;
  appearance: none;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: #fff;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.8;
  color: #000;
  background-color: #fff;
}

.wrapper {
  overflow-x: hidden;
}

.container {
  max-width: 1246px;
  padding: 0 20px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 50px 0;
  background-color: #fff;
}

.title {
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.2;
  display: inline-block;
  position: relative;
  color: #1178b2;
}


.animation {
  border-radius: 3px;
  text-decoration: underline transparent;
  transition: box-shadow 0.5s, text-decoration 0.5s, opacity 0.5s;
}

.animation:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.animation:hover {
  text-decoration: underline;
}

.animation:active {
  opacity: 0.7;
}

.btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  background: linear-gradient(276.41deg, #016CA8 -7%, #61B5E4 77%);
  border-radius: 10px;
  color: #fff;
  padding: 26px 55px;
  transition: all 0.5s;
}

.btn:focus {
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn:hover {
  background: #016CA8;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn:active {
  background: #016CA8;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-green {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  background-color: #07AF91;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #fff;
  padding: 26px 45px;
  transition: all 0.5s;
}

.btn-green:focus,
.btn-green:hover,
.btn-green:active {
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #1178B2;
}

.header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  z-index: 1;
  color: #fff;
  position: relative;
  padding-top: 127px;
}

.header::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.59);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.header__top {
  position: fixed;
  z-index: 99;
  padding-top: 75px;
  left: 0;
  right: 0;
  top: 0;
  transition: all 0.5s;
}

.header__top--bg {
  background-color: #07AF91;
  padding: 5px 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.logo {
  position: relative;
  z-index: 1;
  transition: box-shadow 0.5s, opacity 0.5s;
}

.logo:focus {
  box-shadow: 0 0 0 3px #07AF91;
}

.logo:hover {
  opacity: 0.7;
}

.logo:active {
  opacity: 0.5;
}

.menu__button {
  display: none;
  position: relative;
  z-index: 1;
  width: 44px;
  height: 44px;
  border-radius: 3px;
  transition: background-color 0.5s;
  order: 1;
}

.menu__btn {
  display: none;
  height: 2px;
  background-color: #07AF91;
  width: 30px;
  position: relative;
  margin: 0 auto;
}

.menu__btn::before,
.menu__btn::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #07AF91;
  width: 30px;
  left: 0;
  right: 0;
}

.menu__btn::before {
  top: 10px;
}

.menu__btn::after {
  top: -10px;
}

.menu__button--close {
  display: none;
  position: relative;
  z-index: 1;
  width: 44px;
  height: 44px;
  border-radius: 3px;
  transition: background-color 0.5s;
  order: 1;
  background-color: transparent;
}

.menu__btn--close {
  /* display: none; */
  height: 2px;
  background-color: #fff;
  width: 30px;
  position: relative;
  margin: 0 auto;
}

.menu__btn--close::before,
.menu__btn--close::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #fff;
  width: 30px;
  left: -14px;
  right: 0;
}

.menu__btn--close::before {
  top: 0;
  transform: rotateZ(45deg);
}

.menu__btn--close::after {
  top: 0;
  transform: rotateZ(-45deg);
}

.menu__list {
  display: flex;
  transition: all 1s;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.header__content {
  display: flex;
  height: calc(100vh - 155px);
  justify-content: center;
  flex-direction: column;
}

.header__title {
  font-weight: 700;
  font-size: 43px;
  line-height: 1.4;
  text-transform: uppercase;
  margin: 0 0 50px;
  max-width: 770px;
}

.header__text {
  display: block;
  background-color: #07AF91;
  border-radius: 3px;
}

.header__subtitle {
  display: block;
  font-weight: 400;
  font-size: 34px;
  line-height: 2.4;
  margin-bottom: 35px;
}

.header__subtitle--mobile {
  display: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 4.4;
  margin-bottom: 30px;
}

.header__subtitle--span {
  font-weight: 700;
  font-size: 18px;
  line-height: 4.4;
  color: #07AF91;
  background-color: #FFFFFF;
  border-radius: 3px;
  padding: 3px 5px;
}

.header__apply {
  max-width: 270px;
}

.services {
  padding-top: 90px;
}

.services__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services__item-revers {
  flex-direction: row-reverse;
}

.services__item:not(:last-child) {
  margin-bottom: 180px;
}

.services__box {
  max-width: 660px;
}

.services__title {
  margin-bottom: 110px;
}

.services__subtitle {
  color: #1178B2;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 25px;
}

.services__text {
  line-height: 1.5;
  margin-bottom: 20px;
}

.who__title {
  margin-bottom: 35px;
}

.who__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 20px;
}

.who__item {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  padding: 85px 30px 35px;
}

.who__num {
  display: block;
  font-weight: 800;
  font-size: 80px;
  line-height: 0.3;
  color: rgba(17, 120, 178, 0.5);
  margin-bottom: 60px;
}

.who__subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 15px;
}

.who__text {
  font-size: 16px;
  line-height: 1.6;
}

.consultation {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 600px;
  z-index: 0;
  color: #fff;
  position: relative;
  padding: 0 15px;
  margin: 50px 0;
}

.consultation::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.55);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.consultation__title {
  margin: 140px 0 10px;
  background-color: #07AF91;
  border-radius: 3px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 1400px;
  width: 100%;
}

.consultation__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 2.5;
  margin-bottom: 20px;
}

.markets__inner {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: space-between;
}

.markets__inner::before {
  content: "";
  position: absolute;
  background-image: url(../images/markets-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  box-shadow: 0 0 10px #FFFFFF;
  z-index: -1;
  height: 100%;
  width: 900px;
}

.markets__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.markets__item {
  background-color: #fff;
  line-height: 3;
  text-align: center;
  color: #484848;
  width: 25%;
  background-color: #EEF1F4;
  border-radius: 5px;
  transition: all 0.5s;
}

.markets__item:not(:last-child) {
  border-right: 1px solid #CFDDEB;
}

.markets__item--active {
  background-color: #88BBD8;
  color: #fff;
  font-weight: 700;
}

.markets__btn {
  font-weight: 400;
}

.markets__btn:hover {
  font-weight: 700;
}

.markets__box {
  max-width: 300px;
  width: 100%;
}

.markets__box-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: start;
  color: #000000;
  margin-bottom: 30px;
}

.markets__box-subtitle {
  display: block;
  font-weight: 700;
  color: #07AF91;
}

.markets__box-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #000000;
  margin-bottom: 30px;
}

.markets__item:hover {
  background-color: #88BBD8;
  color: #fff;
}

.markets__box-inner {
  display: flex;
  align-items: center;
}

.markets__btn--1 {
  margin-bottom: 30px;
}

.markets__manager-job {
  display: block;
  font-size: 14px;
  color: #727272;
}

.markets__manager-name {
  font-weight: 500;
  font-size: 16px;
}

.markets__img {
  margin-right: 10px;
}

.markets__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.markets__list-item {
  width: 290px;
  height: 200px;
  background-color: #FFFFFF;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.markets__list-span {
  display: block;
}

.markets__list-text {
  font-weight: 800;
  font-size: 48px;
  line-height: 1.5;
  color: rgba(17, 120, 178, 0.5);
}

.markets__list-span-1 {
  font-size: 24px;
}

.markets__list-span-2 {
  display: block;
  font-weight: 400;
  font-size: 16px;

  color: rgba(16, 16, 16, 0.5);
}

.markets__list-link {
  width: 290px;
  height: 200px;
  background-color: #1178B2;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  display: flex;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  padding: 110px 60px 0;
}

.markets__list-link:focus,
.markets__list-link:hover,
.markets__list-link:active {
  background-color: #07AF91;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.markets__list-link::before {
  content: "";
  position: absolute;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  width: 48px;
  height: 40px;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid #fff;
  display: block;
}

.about__text {
  margin-bottom: 20px;
}

.about__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.about__item {
  max-width: 390px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  padding: 180px 35px 80px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #232323;
  position: relative;
}

.about__item:not(:last-child) {
  margin-right: 20px;
}

.about__item::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 105px;
  height: 100px;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
}

.about__item--1::before {
  background-image: url(../images/three.svg);
  width: 70px;
}

.about__item--2::before {
  background-image: url(../images/planet.svg);
}

.about__item--3::before {
  background-image: url(../images/man.svg);
}

.about__video {
  display: flex;
  justify-content: center;
  padding-top: 180px;
  background-color: #0f0f0f;
  border-radius: 10px;
  height: 675px;
  width: 1216px;
  position: relative;
  z-index: 0;
  color: #fff;
  font-weight: 600;
  line-height: 3;
}

.about__video::before {
  content: "";
  position: absolute;
  background-color: #4C8EF0;
  top: 41%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  transition: box-shadow 0.5s, background-color 0.5s;
}

.about__video::after {
  content: "";
  position: absolute;
  background-image: url('../images/play_video.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 38px;
  height: 41px;
  top: 46%;
  left: 49%;
  background-position: center center;
  transition: transform 0.5s;
}

.about__video:hover::before {
  background-color: rgba(0, 0, 0, 0.6);
}

.about__video:hover::after {
  transform: scale(1.5);
}

.about__video:focus::before {
  box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

.about__video:active::after {
  transform: scale(0.6);
}

.about__video:active::before {
  background-color: rgba(0, 0, 0, 0.45);
}

.program__title {
  margin-bottom: 20px;
}

.toggle__inner {
  position: relative;
}

.toggle {
  width: 100%;
  margin: 0 0 20px;
  border: transparent;
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  padding: 10px 30px 0 50px;
}

.toggle__title {
  padding: 10px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 3;
  color: #2A79C2;
}

.program__link {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  padding: 10px 30px 10px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 3;
  color: #2A79C2;
  margin-bottom: 20px;
}

.toggle__subtitle {
  display: inline-block;
  margin-left: 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 4;
  color: #000000;
}

.toggle__text {
  padding: 5px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 3.8;
  color: #555555;
  position: relative;
}

.toggle__title::before,
.toggle__text::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #E9E9E9;
  height: 1px;
  bottom: 0;
  left: -50px;
  right: -41%;
}

.toggle__text--blue {
  color: #2A79C2;
  border: transparent;
}

.toggler {
  background-color: #2A79C2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 0;
  position: relative;
  text-align: left;
  display: block;
  transition: transform .2s;
  margin-top: 15px;
}

.toggler::before {
  content: "";
  position: absolute;
  background-image: url(../images/chevron.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 15px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggler--active {
  transform: rotate(180deg);
}

.get {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 500px;
  color: #fff;
  padding: 60px 0 65px;
}

.get__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.get__info {
  max-width: 556px;
  width: 100%;
}

.get__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #FFFFFF;
}

.get__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 25px;
}

.get__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.get__item {
  width: 205px;
  height: 110px;
  background: #FFFFFF;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
}

.get__item::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.get__item--1::before {
  background-image: url(../images/get/1.jpg);
}

.get__item--2::before {
  background-image: url(../images/get/2.jpg);
}

.get__item--3::before {
  background-image: url(../images/get/3.jpg);
}

.get__item--4::before {
  background-image: url(../images/get/4.jpg);
}

.get__item--5::before {
  background-image: url(../images/get/5.jpg);
}

.get__item--6::before {
  background-image: url(../images/get/6.jpg);
}

.what__title {
  margin-bottom: 20px;
}

.what__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.what__item {
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  padding: 60px 50px 30px;
}

.what__item-number {
  display: block;
  font-weight: 800;
  font-size: 80px;
  line-height: 0.3;
  color: rgba(17, 120, 178, 0.5);
  margin-bottom: 40px;
}

.what__item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.7;
  color: #000000;
  margin-bottom: 10px;
}

.what__item-text {
  font-size: 15px;
  line-height: 1.3;
}

.prices__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prices__item {
  padding: 125px 40px 30px;
  background-color: #FFFFFF;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  position: relative;
}

.prices__item:not(:last-child) {
  margin-right: 10px;
}

.prices__item::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  top: 70px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prices__item--1::before {
  background-image: url(../images/price/1.svg);
}

.prices__item--2::before {
  background-image: url(../images/price/2.svg);
}

.prices__item--3::before {
  background-image: url(../images/price/3.svg);
}

.price__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: #1B1B1B;
  position: relative;
  margin: 0 auto 30px;
  max-width: 270px;
}

.price__title::before,
.price__table tr::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #e3e3e3;
  height: 1px;
  width: 136%;
  bottom: -30px;
  left: -18%;
}

.price__table tr::before {
  top: 0;
  width: 128%;
  left: -14%;
}

.price__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 3.3;
}

.price__list {
  padding-left: 20px;
  height: 220px;
}

.price__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.2;
}

.price__table {
  width: 100%;
  margin-bottom: 25px;
}

.price__table tr {
  position: relative;
}

.price__table td {
  font-weight: 500;
  font-size: 18px;
  line-height: 3.3;
}

.price__table td:nth-child(2) {
  font-weight: 400;
  font-size: 16px;
  line-height: 3.8;
  text-align: end;
}

.price__table td:nth-child(2).price__table--spec {
  font-weight: 700;
  font-size: 18px;
  line-height: 3.3;
  color: #1178B2;
}

.price__btn {
  display: block;
  margin: 0 auto;
}

.who-2__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.who-2__img {
  margin-right: 15px;
}

.who-2__text-box {
  padding-top: 110px;
}

.who-2__text {
  line-height: 1.5;
  max-width: 565px;
}

.who-2__text--mobile {
  display: none;
}

.who-2__text:not(:last-child) {
  margin-bottom: 50px;
}

.who-2-slider__item {
  margin: 0 10px;
}

.box {
  background: #FFFFFF;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}

.quote {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  padding: 50px;
  margin-bottom: 100px;
}

.quote__img {
  margin-right: 10px;
}

.quote__blockquote {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 50px;
  max-width: 580px;
}

.quote__cite {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.8;
}

.quote__cite span {
  font-weight: 300;
  display: block;
}

.experts-slider__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.7;
}

.experts-slider__name span {
  display: block;
  padding-top: 10px;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.3;
}

.experts-slider__inner {
  margin: 0 80px;
}

.experts-slider__item {
  text-align: center;
  max-width: 250px;
  padding: 0 10px;
  margin: 0 30px;
}

.experts-slider__img {
  margin: 0 auto;
}

.arrow {
  background-color: #2A79C2;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 27%;
  transition: all 0.5s;
}

.arrow--next {
  transform: rotateZ(270deg);
  right: -80px;
}

.arrow--prev {
  transform: rotateZ(90deg);
  left: -80px;
}

.arrow:focus,
.arrow:hover,
.arrow:active {
  background-color: #07AF91;
}

.arrow-mob {
  bottom: -19px;
  position: absolute;
}

.arrow-mob--next {
  transform: rotateZ(180deg);
  right: 0;
}

.arrow-mob--prev {
  left: 0;
}

.arrow-mob:focus,
.arrow-mob:hover,
.arrow-mob:active {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.partners {
  padding-bottom: 100px;
}

.partners__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.partners__item {
  position: relative;
  width: 290px;
  height: 100px;
}

.partners__item::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.partners__item--1::before {
  background-image: url(../images/partners/1.jpg);
}

.partners__item--2::before {
  background-image: url(../images/partners/2.jpg);
}

.partners__item--3::before {
  background-image: url(../images/partners/3.jpg);
}

.partners__item--4::before {
  background-image: url(../images/partners/4.jpg);
}

.partners__item--5::before {
  background-image: url(../images/partners/5.jpg);
}

.partners__item--6::before {
  background-image: url(../images/partners/6.jpg);
}

.partners__item--7::before {
  background-image: url(../images/partners/7.jpg);
}

.partners__item--8::before {
  background-image: url(../images/partners/8.jpg);
}

.create {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 565px;
  z-index: 0;
  color: #fff;
  position: relative;
}

.create__title {
  padding-top: 130px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #FFFFFF;
  max-width: 1000px;
  margin-bottom: 20px;
}

.create__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.create::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.65);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.events__items {
  display: flex;
  justify-content: center;
}

.events__item {
  max-width: 392px;
  width: 100%;
}

.events__item:not(:last-child) {
  margin-right: 20px;
}

.events__box {
  padding: 20px 30px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 225px;
}

.events__item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 10px;
}

.events__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.events__date {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.8;
}

.contacts {
  padding: 80px 0;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 340px;
  color: #fff;
}

.contact__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  margin-bottom: 10px;
}

.contact__span {
  font-weight: 400;
  font-size: 18px;
  line-height: 2.2;
}

.contact__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 3;
  margin-bottom: 10px;
}

.social {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  width: 100%;
}

.social__link {
  padding-left: 68px;
  position: relative;
  transition: all 0.5s;
}

.social__link::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center left;
  width: 82px;
  height: 82px;
  top: -20px;
  left: -30px;
  right: 0;
  bottom: 0;
}

.social__link--tel::before {
  background-image: url(../images/telegram.png);
}

.social__link--what::before {
  background-image: url(../images/whatsapp.png);
}

.social__link:focus,
.social__link:hover,
.social__link:active {
  opacity: 0.7;
}

.form {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  padding: 25px 42px;
  max-width: 600px;
  width: 100%;
}

.input {
  display: block;
  border: none;
  border-bottom: 1px solid #E4E4E4;
  width: 100%;
  padding: 10px;
}

.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 3.8;
  color: #707070;
}

.input--tel {
  margin-bottom: 30px;
}

.footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 145px;
  z-index: 1;
  color: #fff;
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.78);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.footer__inner {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__list {
  max-width: 212px;
  width: 100%;
}

.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  display: block;
}

.footer__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__rights {
  font-size: 14px;
  line-height: 4;
  display: block;
}

.footer__rights:hover,
.footer__link:hover {
  text-decoration: underline;
}
.menu__login{
  padding: 14px 33px;
}
.modal__inner {
  display: none;
}

.modal__inner--active {
  display: block;
}

#close {
  cursor: pointer;
    position: absolute;
    top: -56px;
    right: -11px;
    width: 44px;
      padding: 5px;
}

#close:hover,
#price-action:hover {
  background-color: #1178B2;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  }

#zatemnenie {
  background: rgba(102, 102, 102, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
}

#okno {
  width: 320px;
  height: 295px;
  text-align: center;
  padding: 30px;
  border: transparent;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 200px auto;
  background-color: #fff;
  z-index: 100;
}

#zatemnenie:target {
  display: block;
}

#block {
  font-size: 0;
  padding: 0;
  margin: 0;
}

.close {
  display: inline-block;
  border: 1px solid #c43c62;
  color: #c43c62;
  padding: 0 12px;
  margin: 10px;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

.close:hover {
  background: #fff;
}

.btn-m {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 30px;
  margin-bottom: 10px;
  width: 100%;
  border: transparent;
  border-radius: 5px;
}

.price {
  overflow: hidden;
}

.price-text {
  font-weight: 600;
  font-size: 16px;
  color: #000;
  margin-bottom: 25px;
}

.price-form {
  max-width: 100%;
  margin: 0 auto;
}

.price-input {
  padding: 7px 20px;
  width: 260px;
  background-color: #f1f1f1;
  border: transparent;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  color: #000;
  outline: none;
  display: block;
  margin: 0 auto 10px;
}

.price-input::placeholder {
  color: #707070;
}

.price .button {
  width: 100%;
}
.reg{
  font-weight: 500;
  font-size: 12px;
  text-decoration: underline;
  color: #07AF91;
}


@media (max-width: 1300px) {
  .about__video {
    width: 100%;
  }

  .partners__title {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 2.5;
  }

  .partners__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .partners__item:nth-child(1),
  .partners__item:nth-child(3),
  .partners__item:nth-child(5),
  .partners__item:nth-child(7) {
    margin-left: auto;
  }

  .events__item {
    max-width: 300px;
  }

  .events__item-title {
    font-size: 14px;
  }

  .events__text,
  .events__date {
    font-size: 12px;
  }
}

@media (max-width: 1230px) {
  .services__box {
    max-width: 45%;
    margin-right: 10px;
  }

  .consultation__title {
    font-size: 36px;
  }

  .toggle__title::before,
  .toggle__text::before {
    right: -24%;
  }

  .prices__items {
    flex-wrap: wrap;
  }

  .prices__item {
    width: 48%;
    margin-bottom: 20px;
  }

  .price__table tr::before {
    width: 110%;
    left: -5%;
  }

  .price__title::before {
    width: 177%;
    left: -37%;
  }
}

@media (max-width: 1150px) {
  .experts-slider__inner {
    margin: 0;
    padding-bottom: 50px;
  }
}

@media (max-width: 1100px) {

  .toggle__title::before,
  .toggle__text::before {
    right: -10%;
  }

  .what__item {
    padding-left: 25px;
    padding-right: 25px;
  }

  .price__title::before {
    width: 150%;
    left: -25%;
  }

  .who-2__inner {
    flex-direction: column;
  }

  .who-2__img {
    width: 345px;
    margin: 0 auto 25px;
  }

  .who-2__text-box {
    padding-top: 0;
  }

  .who-2__title {
    display: block;
    text-align: center;
  }

  .who-2__text:not(:last-child) {
    margin-bottom: 10px;
  }

  .who-2__text {
    max-width: 630px;
    text-align: center;
    margin: 0 auto;
  }

  .quote {
    flex-direction: column;
    position: relative;
  }

  .quote__blockquote {
    margin: 0 auto 460px;
    text-align: center;
    font-style: normal;
  }

  .quote__img {
    width: 360px;
    height: 400px;
    order: 1;
    object-fit: cover;
    position: absolute;
    content: "";
    bottom: 135px;
    left: 50%;
    transform: translateX(-50%);
  }

  .contacts__inner {
    flex-direction: column;
  }

  .contact {
    height: 280px;
    margin-bottom: 75px;
    text-align: center;
  }

}

@media (max-width: 992px) {
  .logo__img {
    width: 85%;
  }

  .menu__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 5;
  }

  .btn-green {
    font-size: 16px;
    padding: 10px 33px;
    border-radius: 5px;
  }

  .btn {
    margin: 0 auto;
    border-radius: 5px;
  }

  .menu__item:not(:last-child) {
    margin-right: 30px;
  }

  .header__content {
    text-align: center;
  }

  .header__title {
    margin: 0 auto 50px;
    font-size: 36px;
  }

  .header__subtitle--mobile {
    display: block;
  }

  .header__subtitle {
    display: none;
  }

  .title {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 2.5;
  }

  .services {
    padding-top: 50px;
  }

  .services__item {
    flex-direction: column-reverse;
    text-align: center;
  }

  .services__item:not(:last-child) {
    margin-bottom: 50px;
  }

  .services__image {
    margin-bottom: 20px;
  }

  .services__subtitle {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .services__text {
    font-size: 16px;
    line-height: 1.9;
  }

  .services__btn {
    font-size: 18px;
    padding: 23px 84px;
  }

  .services__box {
    max-width: 85%;
  }

  .who__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .who__item:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .consultation__container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

  }

  .consultation__title {
    line-height: 1.2;
    margin: 118px 80px 20px;
    max-width: 550px;
    width: 100%;
  }

  .consultation__text {
    font-size: 16px;
    line-height: 1.9;
    max-width: 490px;
    width: 100%;
  }

  .consultation__btn {
    font-size: 18px;
    padding: 22px 26px;
  }

  .markets__item {
    padding: 20px 40px;
    line-height: 1.1;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .markets__btn {
    font-size: 14px;
  }

  .markets__box-title {
    text-align: start;
    font-size: 24px;
    line-height: 1.4;
  }

  .markets__box-text {
    margin-bottom: 17px;
  }

  .markets__box {
    display: flex;
    flex-direction: column;
  }

  .markets__btn--1 {
    order: 1;
    font-size: 18px;
    padding: 21px 45px;
    margin-left: 0;
  }

  .markets__box-inner {
    order: 0;
    margin-bottom: 17px;
  }

  .markets__list-span-1 {
    font-size: 20px;
  }

  .markets__list-span-2 {
    font-size: 14px;
  }

  .markets__list-text {
    font-size: 36px;
  }

  .markets__list-item,
  .markets__list-link {
    width: 193px;
    height: 133px;
  }

  .markets__list-link {
    padding: 60px 38px 25px;
  }

  .markets__list {
    gap: 10px;
  }

  .markets__list-link::before {
    transform: scale(0.5);
    top: 19px;
    left: 38%;
  }

  .markets__inner::before {
    background-size: contain;
    width: 100%;
  }

  .about__text,
  .about__item {
    font-size: 16px;
  }

  .about__item {
    max-width: 100%;
  }

  .about__video {
    font-size: 18px;
    padding-top: 90px;
    height: 345px;
  }

  .about__video p {
    max-width: 250px;
    text-align: center;
    line-height: 1.5;
  }

  .about__video::before {
    width: 89px;
    height: 89px;
    top: 47%;
  }

  .about__video::after {
    top: 53%;
  }

  .toggle {
    padding-left: 30px;
  }

  .toggle__title {
    font-size: 16px;
  }

  .toggle__subtitle {
    font-size: 14px;
    line-height: 1.4;
  }

  .toggle__text {
    font-size: 14px;
    line-height: 1.8;
    padding: 10px 0;
  }

  .toggler {
    width: 30px;
    height: 30px;
  }

  .toggler::before {
    width: 11px;
    height: 6px;
  }

  .markets__btn--1 {
    display: none;
  }

  .get__inner {
    flex-direction: column;
  }

  .get__info {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 120px;
  }

  .get {
    height: 1010px;
    padding: 0;
  }

  .get__title {
    line-height: 1.9;
    margin-bottom: 30px;
  }

  .get__text {
    margin-bottom: 30px;
  }

  .get__items {
    transform: translateX(-27%);
    position: relative;
  }

  .get__items::before {
    content: "";
    position: absolute;
    background-image: url(../images/dots.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 30px;
    right: -110px;
    height: 232px;
    width: 370px;
  }

  .get__btn {
    padding: 23px 49px;
  }

  .what__item-title {
    font-size: 14px;
  }

  .what__item-text {
    font-size: 14px;
  }

  .what__item-number {
    font-size: 64px;
  }

  .what__item {
    padding-top: 40px;
    padding-bottom: 20px;
    padding: 40px 10px 20px;
  }

  .program__link {
    font-size: 16px;
  }

  .who-2__text {
    display: none;
  }

  .who-2__text--mobile {
    display: block;
    font-size: 18px;
  }

  .who-2__text--mobile span {
    color: #1178B2;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.7;
  }

  .partners__item {
    width: 240px;
    height: 80px;
  }

  .partners__item::before {
    transform: scale(0.8);
    left: 0;
    top: 0;
  }

  .create__title {
    padding-top: 120px;
    line-height: 1.5;
    max-width: 640px;
    margin: 0 auto 30px;
    text-align: center;
  }

  .create__text {
    font-size: 16px;
    margin: 0 auto 30px;
    max-width: 605px;
  }

  .create__btn {
    font-size: 18px;
    padding: 20px 65px;
  }

  .events__box {
    padding-right: 10px;
    padding-left: 10px;
  }

}



@media (max-width: 900px) {
  .price__title {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .price__title::before {
    bottom: -20px;
  }

  .price__subtitle {
    font-size: 16px;
  }

  .price__item {
    font-size: 14px;
  }

  .price__table td {
    font-size: 16px;
  }

  .price__table td:nth-child(2) {
    font-size: 14px;
  }

  .price__table td:nth-child(2).price__table--spec {
    font-size: 16px;
  }

  .price__btn {
    font-size: 18px;
    padding: 25px 40px;
  }

  .price__list {
    height: 195px;
  }

  .price__title::before {
    width: 123%;
    left: -11%;
  }

  .prices__item:not(:last-child) {
    margin-right: 0;
  }

  .prices__item--1::before {
    background-image: url(../images/price/1-1.svg);
  }

  .prices__item--2::before {
    background-image: url(../images/price/2-1.svg);
  }

  .prices__item--3::before {
    background-image: url(../images/price/3-1.svg);
  }

  .prices__item::before {
    top: 58px;
  }

  .contact__title {
    font-size: 32px;
    margin-bottom: 25px;
  }

  .contact__span {
    font-size: 16px;
    margin-bottom: 25px;
  }

  .contact__text {
    font-size: 18px;
    margin-bottom: 25px;
  }

  .contacts {
    padding: 65px 0 90px;
  }

  .footer .menu__link {
    font-size: 14px;
  }

  .footer .menu__item:not(:last-child) {
    margin-right: 25px;
  }

  .footer__rights {
    font-size: 12px;
  }

  .footer__link {
    font-size: 12px;
  }

  .footer__inner {
    padding: 40px 0;
  }

  .footer__list {
    max-width: 170px;
  }
}


@media (max-width: 750px) {
  body.lock {
    overflow-y: hidden;
  }

  .header__content {
    height: calc(100vh - 130px);
  }

  .menu__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #07AF91;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transform: translateY(-200%);
    transition: transform 0.5s;
    height: 550px;
    overflow-y: auto;
    padding: 120px 0 0;
    z-index: 0;
  }

  .menu__link {
    display: block;
    width: 162px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: background-color 0.5s;
  }

  .menu__item:not(:last-child) {
    border-bottom: 1px solid #fff;
  }

  .menu__link:active,
  .menu__link:focus,
  .menu__link:hover {
    background-color: #005041;
    text-decoration: underline transparent;
    border: transparent;
    box-shadow: none;
  }

  .menu__item:not(:last-child) {
    margin-right: 0;
  }

  .header__top {
    padding-top: 60px;
  }

  .menu__button,
  .menu__btn {
    display: block;
  }

  .menu__button:active {
    background-color: #FFFFFF;
    opacity: 0.1;
  }

  .header__top.header__top--active .menu__list {
    transform: translateY(0);
  }

  .header__top.header__top--active .menu__btn {
    background-color: transparent;
  }

  .header__top.header__top--active .menu__btn::before {
    top: 50%;
    left: 16px;
    transform: translate(-50%, 0%) rotate(45deg);
  }

  .header__top.header__top--active .menu__btn::after {
    transform: translate(50%, 0%) rotate(-45deg);
    top: 50%;
    left: -14px;
  }

  .services__box {
    max-width: 100%;
  }

  .who__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .who__item:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .who__text {
    font-size: 14px;
    line-height: 1.8;
  }

  .who__item {
    padding-left: 15px;
    padding-right: 15px;
  }

  .title {
    font-size: 24px;
    line-height: 1.5;
  }

  .markets__btn {
    font-size: 10px;
  }

  .markets__item {
    padding: 10px;
  }

  .markets__inner {
    flex-direction: column;
  }

  .markets__box {
    max-width: 70%;
    margin-bottom: 15px;
  }

  .markets__items {
    margin-bottom: 20px;
  }

  .markets__inner::before {
    top: -19%;
  }

  .markets__list-item,
  .markets__list-link {
    width: 100%;
  }

  .markets__list {
    gap: 20px;
  }

  .markets__list-span-2,
  .markets__list-link {
    font-size: 12px;
  }

  .markets__list-text {
    font-size: 24px;
  }

  .markets__list-span-1 {
    font-size: 16px;
    line-height: 1.6;
    display: block;
  }

  .markets__btn--1 {
    transform: translateY(325px);
    width: 100%;
  }

  .markets__inner-list {
    transform: translateY(-75px);
  }

  .about__item {
    padding-left: 10px;
    padding-right: 10px;
  }

  .program__item {
    position: relative;
    padding: 0 25px;
  }

  .toggler {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
  }

  .toggle__subtitle {
    display: block;
    font-size: 12px;
  }

  .toggle__title {
    text-align: center;
    font-size: 12px;
  }

  .toggle__text {
    font-size: 12px;
  }

  .toggle__title::before {
    left: -20px;
    right: -4%;
  }

  .toggle__text::before {
    left: -26px;
    right: -4%;
  }

  .toggle__inner {
    width: 100%;
  }

  .get__items {
    margin-right: auto;
    transform: translateX(0);
  }

  .what__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .price__list {
    height: 175px;
  }

  .price__item {
    font-size: 12px;
  }

  .prices__items {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .prices__item {
    width: 100%;
    padding: 30px 30px 20px;
  }

  .prices__item::before {
    left: 11%;
  }

  .prices__item--2::before {
    left: 14%;
  }

  .price__title {
    margin: 0 0 20px;
    padding-left: 110px;
    text-align: start;
  }

  .price__title {
    font-size: 16px;
  }

  .price__table td {
    font-size: 14px;
  }

  .price__table td:nth-child(2) {
    font-size: 12px;
  }

  .price__table td:nth-child(2).price__table--spec {
    font-size: 14px;
  }

  .price__title::before {
    bottom: -27px;
  }

  .price__btn {
    font-size: 16px;
  }

  .price__table {
    margin-bottom: 10px;
  }

  .footer .menu__list {
    display: none;
  }
}


@media (max-width: 600px) {
  .get__item {
    width: 120px;
    height: 60px;
  }

  .get__item::before {
    transform: scale(0.5);
    top: 0;
    left: 0;
  }

  .get__items::before {
    right: -65px;
    height: 135px;
    width: 215px;
  }

  .get__text {
    font-size: 14px;
  }

  .get__info {
    margin-bottom: 30px;
  }

  .get {
    height: 680px;
  }

  .get__info {
    padding-top: 100px;
  }

  .experts-slider__name {
    font-size: 18px;
  }

  .experts-slider__name span {
    padding-top: 5px;
    font-size: 12px;
  }

  .partners__item {
    width: 150px;
    height: 55px;
  }

  .partners__item::before {
    transform: scale(0.45);
    left: 0;
    top: 0;
  }

  .partners__list {
    gap: 10px;
  }

  .events__items {
    flex-direction: column;
  }

  .events__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .events__item {
    max-width: 100%;
  }

  .events__box {
    height: 392px;
    padding: 70px 40px 20px 175px;
  }

  .events__item {
    position: relative;
  }

  .events__img {
    transform: rotateZ(270deg);
    position: absolute;
    top: 118px;
    left: -117px;
  }

  .footer__rights,
  .footer__link {
    font-size: 10px;
  }

  .footer__list {
    max-width: 130px;
  }

  .footer__logo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 55px;
  }

  .footer__rights {
    display: block;
    line-height: 1.5;
  }
}


@media (max-width: 520px) {
  .header__title {
    font-size: 24px;
    line-height: 1.7;
    margin-bottom: 30px;
  }

  .header__subtitle--mobile,
  .header__subtitle--span {
    font-size: 16px;
    line-height: 2;
  }

  .header__apply {
    font-size: 16px;
    padding: 16px 55px;
  }

  .logo__img {
    width: 70%;
  }

  .btn-green {
    padding: 10px 18px;
  }

  .title {
    font-size: 24px;
  }

  .services__subtitle {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .services__text {
    font-size: 14px;
  }

  .who__subtitle {
    font-size: 14px;
    line-height: 2.1;
  }

  .consultation__title {
    font-size: 24px;
    line-height: 1.5;
    margin: 60px 18px 30px;
  }

  .consultation__text {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 25px;
  }

  .consultation__btn {
    font-size: 16px;
  }

  .markets__list-link {
    padding: 65px 25px 35px;
  }

  .markets__btn--1 {
    width: 305px;
  }

  .about__text {
    font-size: 14px;
  }

  .about__items {
    flex-direction: column;
    margin-bottom: 0;
  }

  .about__item::before {
    left: -1%;
    transform: scale(0.5);
    top: 22px;
  }

  .about__item--1::before {
    left: 3%;
  }

  .about__item {
    padding: 60px 0 60px 85px;
    text-align: start;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .about__item:not(:last-child) {
    margin-right: 0;
  }

  .about__video {
    font-size: 16px;
    padding-top: 30px;
    height: 200px;
  }

  .about__video::before {
    width: 60px;
    height: 60px;
    top: 47%;
  }

  .about__video::after {
    width: 20px;
    height: 20px;
    top: 56%;
    left: 48%;
  }

  .get {
    height: 750px;
  }

  .get__items::before {
    right: -30px;
  }

  .get__btn {
    padding: 23px 33px;
  }

  .what__items {
    grid-template-columns: repeat(1, 1fr);
  }

  .what__item {
    padding: 35px 40px;
  }

  .prices__item::before {
    left: 22%;
  }

  .price__title {
    padding-left: 90px;
  }

  .prices__item--2::before {
    width: 80%;
    height: 80%;
  }

  .who-2__img {
    width: 265px;
    margin: 0 auto 20px;
  }

  .who-2__text--mobile,
  .who-2__text--mobile span {
    font-size: 14px;
  }

  .quote {
    padding: 30px;
  }

  .quote__img {
    width: 235px;
    height: 265px;
    bottom: 0;
  }

  .quote__blockquote {
    margin-bottom: 30px;
    font-size: 14px;
  }

  .quote__inner {
    margin-bottom: 235px;
  }

  .quote__cite {
    text-align: end;
    display: block;
    font-size: 10px;
  }

  .quote__cite span {
    max-width: 100px;
    text-align: end;
    margin-left: auto;
    font-size: 11px;
  }

  .create__text {
    font-size: 12px;
    max-width: 309px;
  }

  .create__btn {
    font-size: 16px;
    padding: 14px 70px;
  }

  .events__img {
    max-width: 170px;
    top: 51px;
    left: -50px;
  }

  .events__box {
    height: 170px;
    padding: 20px 30px 20px 90px;
  }

  .events__item-title {
    margin-bottom: 5px;
  }

  .events__text,
  .events__date {
    font-size: 10px;
  }

  .events__item-title {
    font-size: 12px;
  }

  .contact__title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .contact__span {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .contact__text {
    font-size: 16px;
    margin-bottom: 70px;
  }

  .contacts {
    padding: 90px 0;
  }

  .input::placeholder {
    font-size: 14px;
  }

  .contact {
    margin-bottom: 25px;
  }

  .social__link {
    font-size: 16px;
    padding-left: 0;
  }

  .social__link::before {
    top: -70px;
    left: -15px;
  }

  .social {
    max-width: 210px;
    margin: 0 auto;
  }

  .form {
    padding: 15px;
  }

  .form__btn {
    padding: 16px 50px;
    width: 100%;
  }
}