html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a,
input,
button,
textarea {
  outline: transparent;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  display: inline-block;
  appearance: none;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}

body {
  min-height: 100vh;
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.8;
  color: #000;
  background-color: #fff;
}

.wrapper {
  /* overflow-x: hidden; */
}

.container {
  max-width: 1246px;
  padding: 0 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 50px 0;
  background-color: #fff;
}

.title {
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.2;
  display: inline-block;
  position: relative;
  color: #1178b2;
}

/* 
.animation {
  border-radius: 3px;
  text-decoration: underline transparent;
  transition: box-shadow 0.5s, text-decoration 0.5s, opacity 0.5s;
}

.animation:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.animation:hover {
  text-decoration: underline;
}

.animation:active {
  opacity: 0.7;
} */

.btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  background: linear-gradient(276.41deg, #016CA8 -7%, #61B5E4 77%);
  border-radius: 10px;
  color: #fff;
  padding: 26px 55px;
  transition: all 0.5s;
}

.btn:focus {
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn:hover {
  background: #016CA8;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn:active {
  background: #016CA8;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-green {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  background-color: #07AF91;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #fff;
  padding: 26px 45px;
  transition: all 0.5s;
}

.btn-green:focus,
.btn-green:hover,
.btn-green:active {
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #1178B2;
}

.header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  z-index: 1;
  color: #fff;
  position: relative;
  padding-top: 127px;
}

.header::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.59);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.header__top {
  position: fixed;
  z-index: 99;
  padding-top: 75px;
  left: 0;
  right: 0;
  top: 0;
  transition: all 0.5s;
}

.header__top--bg {
  background-color: #07AF91;
  padding: 5px 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.logo {
  position: relative;
  z-index: 1;
  transition: box-shadow 0.5s, opacity 0.5s;
}

.logo:focus {
  box-shadow: 0 0 0 3px #07AF91;
}

.logo:hover {
  opacity: 0.7;
}

.logo:active {
  opacity: 0.5;
}

.menu__button {
  display: none;
  position: relative;
  z-index: 1;
  width: 44px;
  height: 44px;
  border-radius: 3px;
  transition: background-color 0.5s;
}

.menu__btn {
  display: none;
  height: 2px;
  background-color: #fff;
  width: 30px;
  position: relative;
  margin: 0 auto;
}

.menu__btn::before,
.menu__btn::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #fff;
  width: 30px;
  left: 0;
  right: 0;
}

.menu__btn::before {
  top: 10px;
}

.menu__btn::after {
  top: -10px;
}

.menu__list {
  display: flex;
  transition: all 1s;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.header__content {
  display: flex;
  height: calc(100vh - 155px);
  justify-content: center;
  flex-direction: column;
}

.header__title {
  font-weight: 700;
  font-size: 43px;
  line-height: 1.4;
  text-transform: uppercase;
  margin: 0 0 50px;
  max-width: 770px;
}

.header__text {
  display: block;
  background-color: #07AF91;
  border-radius: 3px;
}

.header__subtitle {
  display: block;
  font-weight: 400;
  font-size: 34px;
  line-height: 2.4;
  margin-bottom: 35px;
}

.header__apply {
  max-width: 270px;
}

.services__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services__item-revers {
  flex-direction: row-reverse;
}

.services__item:not(:last-child) {
  margin-bottom: 180px;
}

.services__box {
  max-width: 660px;
}

.services__title {
  margin-bottom: 110px;
}

.services__subtitle {
  color: #1178B2;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 25px;
}

.services__text {
  line-height: 1.5;
  margin-bottom: 20px;
}

.who__title {
  margin-bottom: 35px;
}

.who__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.who__item {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  padding: 85px 30px 35px;
}

.who__item:not(:last-child) {
  margin-right: 20px;
}

.who__num {
  display: block;
  font-weight: 800;
  font-size: 80px;
  line-height: 0.3;
  color: rgba(17, 120, 178, 0.5);
  margin-bottom: 60px;
}

.who__subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 15px;
}

.who__text {
  font-size: 16px;
  line-height: 1.6;
}

.consultation {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 600px;
  z-index: 1;
  color: #fff;
  position: relative;
  padding: 0 15px;
  margin: 50px 0;
}

.consultation::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.55);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.consultation__title {
  margin: 140px 0 10px;
  background-color: #07AF91;
  border-radius: 3px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 1400px;
  width: 100%;
}

.consultation__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 2.5;
  margin-bottom: 20px;
}

.markets__inner {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: space-between;
}

.markets__inner::before {
  content: "";
  position: absolute;
  background-image: url(../images/markets-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  /* background-color: rgba(190, 202, 214, 0.24); */
  box-shadow: 0 0 10px #FFFFFF;
  z-index: -1;
  height: 100%;
  width: 900px;
}

.markets__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.markets__item {
  background-color: #fff;
  line-height: 3;
  text-align: center;
  color: #484848;
  width: 25%;
  background-color: #EEF1F4;
  border-radius: 5px;
}

.markets__item:not(:last-child) {
  border-right: 1px solid #CFDDEB;
}

.markets__item--active {
  background-color: #88BBD8;
}

.markets__box {
  max-width: 300px;
  width: 100%;
}

.markets__box-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 30px;
}

.markets__box-subtitle {
  display: block;
  font-weight: 700;
  color: #07AF91;
}

.markets__box-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #000000;
  margin-bottom: 30px;
}

.markets__item:hover {
  background-color: #88BBD8;
}

.markets__box-inner {
  display: flex;
  align-items: center;
}

.markets__btn--1 {
  margin-bottom: 30px;
}

.markets__manager-job {
  display: block;
  font-size: 14px;
  color: #727272;
}

.markets__manager-name {
  font-weight: 500;
  font-size: 16px;
}

.markets__img {
  margin-right: 10px;
}

.markets__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.markets__list-item {
  width: 290px;
  height: 200px;
  background-color: #FFFFFF;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.markets__list-span {
  display: block;
}

.markets__list-text {
  font-weight: 800;
  font-size: 48px;
  line-height: 1.5;
  color: rgba(17, 120, 178, 0.5);
}

.markets__list-span-1 {
  font-size: 24px;
}

.markets__list-span-2 {
  display: block;
  font-weight: 400;
  font-size: 16px;

  color: rgba(16, 16, 16, 0.5);
}

.markets__list-link {
  width: 290px;
  height: 200px;
  background-color: #1178B2;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  display: flex;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  padding: 110px 60px 0;
}

.markets__list-link:focus,
.markets__list-link:hover,
.markets__list-link:active {
  background-color: #07AF91;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.markets__list-link::before {
  content: "";
  position: absolute;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  width: 48px;
  height: 40px;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid #fff;
  display: block;
}

.about__text {
  margin-bottom: 20px;
}

.about__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.about__item {
  max-width: 390px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  padding: 180px 10px 80px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #232323;
  position: relative;
}

.about__item:not(:last-child) {
  margin-right: 20px;
}

.about__item::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 105px;
  height: 100px;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
}

.about__item--1::before {
  content: "3";
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 120px;
  line-height: 1.2;
  top: 25px;
  height: 120px;
  background: linear-gradient(143.71deg, #8BD7DC 21.17%, #1246A9 127.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about__item--2::before {
  background-image: url(../images/planet.svg);
}

.about__item--3::before {
  background-image: url(../images/man.svg);
}

.about__video {
  display: flex;
  justify-content: center;
  padding-top: 180px;
  background-color: #0f0f0f;
  border-radius: 10px;
  height: 675px;
  width: 1216px;
  position: relative;
  z-index: 0;
  color: #fff;
  font-weight: 600;
  line-height: 3;
}

.about__video::before {
  content: "";
  position: absolute;
  background-color: #4C8EF0;
  top: 41%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  transition: box-shadow 0.5s, background-color 0.5s;
}

.about__video::after {
  content: "";
  position: absolute;
  background-image: url('../images/play_video.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 38px;
  height: 41px;
  top: 47%;
  left: 49%;
  background-position: center center;
  transition: transform 0.5s;
}

.about__video:hover::before {
  background-color: rgba(0, 0, 0, 0.6);
}

.about__video:hover::after {
  transform: scale(1.5);
}

.about__video:focus::before {
  box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

.about__video:active::after {
  transform: scale(0.6);
}

.about__video:active::before {
  background-color: rgba(0, 0, 0, 0.45);
}

.program__title {
  margin-bottom: 20px;
}

.toggle {
  width: 100%;
  margin: 0 0 20px;
  border: transparent;
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  padding: 10px 30px 0 50px;
}

.toggle__title {
  padding: 10px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 3;
  color: #2A79C2;
  position: relative;
}

.program__link {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  padding: 10px 30px 10px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 3;
  color: #2A79C2;
  margin-bottom: 20px;
}

.toggle__subtitle {
  display: inline-block;
  margin-left: 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 4;
  color: #000000;
}

.toggle__text {
  padding: 5px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 3.8;
  color: #555555;
  position: relative;
}

.toggle__title::before,
.toggle__text::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #E9E9E9;
  width: 1216px;
  height: 1px;
  bottom: 0;
  left: -50px;
}

.toggle__text--blue {
  color: #2A79C2;
  border: transparent;
}

.toggler {
  background-color: #2A79C2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 0;
  position: relative;
  text-align: left;
  display: block;
  transition: transform .2s;
  margin-top: 15px;
}

.toggler::before {
  content: "";
  position: absolute;
  background-image: url(../images/chevron.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 15px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggler--active {
  transform: rotate(180deg);
}

.get {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 500px;
  color: #fff;
  padding: 60px 0 65px;
}

.get__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.get__info {
  max-width: 556px;
  width: 100%;
}

.get__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #FFFFFF;
}

.get__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 25px;
}

.get__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.get__item {
  width: 205px;
  height: 110px;
  background: #FFFFFF;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
}

.get__item::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.get__item--1::before {
  background-image: url(../images/get/1.jpg);
}

.get__item--2::before {
  background-image: url(../images/get/2.jpg);
}

.get__item--3::before {
  background-image: url(../images/get/3.jpg);
}

.get__item--4::before {
  background-image: url(../images/get/4.jpg);
}

.get__item--5::before {
  background-image: url(../images/get/5.jpg);
}

.get__item--6::before {
  background-image: url(../images/get/6.jpg);
}

.what__title {
  margin-bottom: 20px;
}

.what__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.what__item {
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  padding: 60px 50px 30px;
}

.what__item-number {
  display: block;
  font-weight: 800;
  font-size: 80px;
  line-height: 0.3;
  color: rgba(17, 120, 178, 0.5);
  margin-bottom: 40px;
}

.what__item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.7;
  color: #000000;
  margin-bottom: 10px;
}

.what__item-text {
  font-size: 15px;
  line-height: 1.3;
}

.prices__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prices__item {
  padding: 125px 40px 30px;
  background-color: #FFFFFF;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  position: relative;
}

.prices__item::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  top: 70px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prices__item--1::before {
  background-image: url(../images/price/1.svg);
}

.prices__item--2::before {
  background-image: url(../images/price/2.svg);
}

.prices__item--3::before {
  background-image: url(../images/price/3.svg);
}

.price__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: #1B1B1B;
  position: relative;
  margin: 0 auto 30px;
  max-width: 270px;
}

.price__title::before,
.price__table tr::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #e3e3e3;
  height: 1px;
  width: 136%;
  bottom: -30px;
  left: -18%;
}

.price__table tr::before{
top: 0;
width: 128%;
  left: -14%;
}

.price__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 3.3;
}

.price__list {
  padding-left: 20px;
  height: 220px;
}

.price__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.2;
}
.price__table{
  width: 100%;
  margin-bottom: 25px;
}
.price__table tr{
  position: relative;
}

.price__table td {
  font-weight: 500;
  font-size: 18px;
  line-height: 3.3;
}

.price__table td:nth-child(2) {
  font-weight: 400;
  font-size: 16px;
  line-height: 3.8;
  text-align: end;
}
.price__table td:nth-child(2).price__table--spec{
font-weight: 700;
  font-size: 18px;
  line-height: 3.3;
  color: #1178B2;
}
.who-2__inner{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.who-2__text-box{
  padding-top: 110px;
}
.who-2__text{
  line-height: 1.5;
  max-width: 565px;
}
.who-2__text:not(:last-child){
  margin-bottom: 50px;
}
.box{
  background: #FFFFFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
}
.quote{
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  padding: 50px;
  margin-bottom: 100px;
  }
  .quote__img{
    margin-right: 10px;
  }
  .quote__blockquote{
    font-style: italic;
      font-weight: 400;
      font-size: 16px;
      line-height: 2;
      margin-bottom: 50px;
      max-width: 580px;
  }
.quote__cite{
  font-weight: 500;
  font-style: normal;
    font-size: 14px;
    line-height: 1.8;
}
.quote__cite span{
  font-weight: 300;
  display: block;
}
.experts-slider__name{
  font-weight: 600;
    font-size: 18px;
    line-height: 1.7;
  }
.experts-slider__name span{
  display: block;
  padding-top: 10px;
  font-weight: 300;
    font-size: 15px;
    line-height: 1.3;
}
.experts-slider__inner{
  margin: 0 80px;
}
.experts-slider__item{
  text-align: center;
  max-width: 250px;
  padding: 0 10px;
  margin: 0 30px;
}
.experts-slider__img{
  margin: 0 auto;
}
.arrow {
  background-color: #2A79C2;;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 27%;
}
.arrow--next {
  transform: rotateZ(270deg);
right: -80px;
}

.arrow--prev {
  transform: rotateZ(90deg);
  left: -80px;
}

.arrow:focus,
.arrow:hover,
.arrow:active {
  background-color: #07AF91;
}
.partners{
  padding-bottom: 100px;
}
.partners__list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.partners__item{
  position: relative;
  width: 290px;
    height: 100px;
}
.partners__item::before{
content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.partners__item--1::before {
  background-image: url(../images/partners/1.jpg);
}
.partners__item--2::before {
  background-image: url(../images/partners/2.jpg);
}
.partners__item--3::before {
  background-image: url(../images/partners/3.jpg);
}
.partners__item--4::before {
  background-image: url(../images/partners/4.jpg);
}
.partners__item--5::before {
  background-image: url(../images/partners/5.jpg);
}
.partners__item--6::before {
  background-image: url(../images/partners/6.jpg);
}
.partners__item--7::before {
  background-image: url(../images/partners/7.jpg);
}
.partners__item--8::before {
  background-image: url(../images/partners/8.jpg);
}
.create{
  text-align: center;
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 565px;
    z-index: 1;
    color: #fff;
    position: relative;    
}
.create__title{
  padding-top: 130px;
  font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #FFFFFF;
    max-width: 1000px;
    margin-bottom: 20px;
}
.create__text{
font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.create::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.65);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}



















.gallery {
  padding-bottom: 140px;
  text-align: center;
}

.gallery__filter {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}

.gallery__btn-link {
  font-weight: 600;
  font-size: 24px;
  border-radius: 3px;
  text-decoration: underline transparent;
  transition: box-shadow 0.5s, text-decoration 0.5s, opacity 0.5s, color 0.5s;
}

.gallery__btn:not(:last-child) {
  margin-right: 35px;
}

.gallery__btn-link:focus {
  box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
}

.gallery__btn-link:hover {
  text-decoration: underline;
}

.gallery__btn-link:hover,
.gallery__btn-link:active {
  color: #2352DE;
}

.gallery__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -45px 11px 0;
}

.gallery__item {
  transition: opacity 0.5s;
  margin: 0 45px 45px 0;
}

.achievements__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.achievements__item {
  background-repeat: no-repeat;
  background-position: center top 50px;
  padding: 150px 0 50px;
  width: 280px;
  border: 1px solid #DBDBED;
}

.achievements__item--bag {
  background-size: 97px 80px;
}

.achievements__item--clients {
  background-size: 92px 80px;
}

.achievements__item--rev,
.achievements__item--coffee {
  background-size: 80px 80px;
}

.achievements__item:not(:last-child) {
  margin-right: 17px;
}

.achievements__desc {
  line-height: 1.3;
  margin-bottom: 17px;
  display: block;
}

.achievements__num {
  font-weight: 600;
  font-size: 44px;
  line-height: 1;
  display: block;
}

.contacts {
  padding-bottom: 140px;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
}

.contacts__info {
  font-style: normal;
  margin-right: 100px;
}

.contacts__text p {
  font-size: 16px;
  margin-bottom: 30px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.3;
  color: #2352DE;
  margin-bottom: 21px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 15px;
}

.contacts__link {
  border-radius: 3px;
  transition: box-shadow 0.5s, opacity 0.5s, text-decoration 0.5s;
}

.social {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__link {
  display: block;
  height: 44px;
  width: 44px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 3px;
  transition: box-shadow 0.5s, opacity 0.5s;
}

.contacts__link:focus,
.social__link:focus {
  box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
}

.contacts__link:hover {
  text-decoration: underline;
}

.social__link:hover,
.contacts__link:active {
  opacity: 0.7;
}

.social__link:active {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
}

.form {
  min-width: 540px;
  line-height: 1.3;
}

.form__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__inner {
  max-width: 255px;
}

.form__field {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}

.form__input {
  width: 100%;
  border: none;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 30px;
  transition: box-shadow 0.5s, color 0.5s;
}

.form__input::placeholder {
  color: #9C9CAB;
  font-weight: 400;
  font-size: 14px;
  transition: color 0.5s;
}

.form__input--area {
  width: 100%;
  min-height: 115px;
  resize: vertical;
  overflow: hidden;
  display: block;
}

.form__input:focus {
  box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

.form__input:hover::placeholder {
  color: #000;
}

.footer {
  background-color: #343740;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

@media (max-width: 1230px) {
  .services__item:not(:last-child) {
    margin-right: 15px;
  }

  .gallery__content {
    margin: 0 -18px 14px -3px;
  }

  .gallery__item {
    margin: 0 15px 15px 0;
  }

  .contacts__info {
    margin-right: 50px;
  }

  .form {
    min-width: 50%;
  }

  .form__inner:not(:last-child) {
    margin-right: 15px;
  }

  .form__inner {
    width: 50%;
  }
}

@media (max-width: 992px) {
  body.lock {
    overflow-y: hidden;
  }

  .header__content {
    height: calc(100vh - 90px);
  }

  .menu__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #7792E0;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transform: translateY(-200%);
    transition: transform 0.5s;
    height: 100vh;
    overflow-y: auto;
    padding: 90px 0 90px;
    z-index: 0;
  }

  .menu__link {
    display: block;
    width: 100vh;
    padding-top: 11px;
    padding-bottom: 11px;
    transition: background-color 0.5s;
  }

  .menu__link:active,
  .menu__link:focus,
  .menu__link:hover {
    background-color: rgba(35, 82, 222, 0.7);
    text-decoration: underline transparent;
    border: transparent;
    box-shadow: none;
  }

  .menu__item:not(:last-child) {
    margin-right: 0;
  }

  .header__top {
    padding-top: 5px;
  }

  .menu__button,
  .menu__btn {
    display: block;
  }

  .menu__button:active {
    background-color: #FFFFFF;
    opacity: 0.1;
  }

  .header__top.header__top--active .menu__list {
    transform: translateY(0);
  }

  .header__top.header__top--active .menu__btn {
    background-color: transparent;
  }

  .header__top.header__top--active .menu__btn::before {
    top: 50%;
    left: 16px;
    transform: translate(-50%, 0%) rotate(45deg);
  }

  .header__top.header__top--active .menu__btn::after {
    transform: translate(50%, 0%) rotate(-45deg);
    top: 50%;
    left: -14px;
  }

  .section {
    padding: 100px 0;
    text-align: center;
  }

  .achievements {
    padding-top: 85px;
  }

  .title {
    margin-bottom: 40px;
  }

  .about__text {
    text-align: start;
  }

  .skills__img {
    width: 50%;
  }

  .skills__item {
    flex-direction: column;
  }

  .skills__item:not(:last-child) {
    margin-bottom: 40px;
  }

  .skills__text {
    margin-bottom: 5px;
  }

  .services__item {
    background-position: top center;
    background-size: 40px;
    padding-top: 50px;
  }

  .services__subtitle {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .gallery,
  .contacts {
    padding-bottom: 100px;
  }

  .gallery__btn:not(:last-child) {
    margin-right: 20px;
  }

  .gallery__btn-link {
    font-size: 20px;
  }

  .gallery__item {
    width: 45%;
  }

  .gallery__item img {
    width: 100%;
  }

  .reviews__video {
    width: 50%;
  }

  .achievements__list {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .achievements__item:not(:last-child) {
    margin-right: 0;
  }

  .achievements__item {
    width: 48%;
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .logo__img {
    max-width: 110px;
  }

  .header__title {
    font-size: 65px;
  }

  .header__text {
    font-size: 36px;
  }

  .section {
    padding: 50px 0;
  }

  .achievements {
    padding-top: 35px;
  }

  .about__text {
    font-size: 16px;
  }

  .title {
    margin-bottom: 30px;
    font-size: 36px;
  }

  .about__text p:not(:last-child) {
    margin-bottom: 15px;
  }

  .skills__img {
    width: 40%;
    margin-right: 20px;
  }

  .skills__item:not(:last-child) {
    margin-bottom: 25px;
  }

  .services__inner {
    flex-direction: column;
    text-align: start;
  }

  .services__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .services__item {
    background-position: left top;
    max-width: 100%;
  }

  .gallery,
  .contacts {
    padding-bottom: 50px;
  }

  .gallery__title {
    margin-bottom: 21px;
  }

  .gallery__filter {
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: space-between;
  }

  .gallery__btn:not(:last-child) {
    margin-right: 0;
  }

  .gallery__btn-link {
    font-size: 18px;
    padding: 7px 0;
  }

  .reviews__inner {
    flex-direction: column;
    position: relative;
  }

  .quote__img {
    margin-bottom: 31px;
  }

  .reviews__quote {
    max-width: 100%;
    font-size: 16px;
  }

  .quote__cite {
    font-size: 20px;
  }

  blockquote {
    margin-inline-start: 35px;
    margin-inline-end: 35px;
  }

  .reviews__video {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(25px);
  }

  .reviews__video::before {
    width: 100%;
    border-radius: 50%;
  }

  .reviews__video::after {
    height: 20px;
    width: 17px;
  }

  .contacts__info {
    margin-right: 25px;
  }

  .form__row {
    flex-direction: column;
  }

  .form__inner {
    max-width: 100%;
    width: 100%;
  }

  .form__inner:not(:last-child) {
    margin-right: 0;
  }

  .form__input {
    margin-bottom: 15px;
  }
}

@media (max-width: 576px) {
  .header__title {
    font-size: 40px;
  }

  .header__text {
    font-size: 28px;
  }

  .header__link {
    font-size: 14px;
    line-height: 19px;
  }

  .title {
    font-size: 28px;
  }

  .title::before {
    border-bottom-width: 10px;
  }

  .skills {
    padding-top: 61px;
  }

  .skills__inner {
    flex-direction: column;
  }

  .skills__img {
    margin-right: 0;
    margin-bottom: 30px;
    width: 87%;
  }

  .skills__info {
    width: 87%;
  }

  .skills__text {
    font-size: 18px;
  }

  .skills__item:not(:last-child) {
    margin-bottom: 24px;
  }

  .services {
    padding-bottom: 66px;
  }

  .reviews__video {
    transform: translate(25px, -20px);
  }

  .achievements__item--bag {
    background-size: 42px 35px;
  }

  .achievements__item--clients {
    background-size: 40px 35px;
  }

  .achievements__item--rev,
  .achievements__item--coffee {
    background-size: 35px 35px;
  }

  .achievements__item {
    padding: 65px 30px 25px 30px;
    background-position: center top 22px;
  }

  .achievements__desc {
    font-size: 14px;
    margin: auto 0;
  }

  .achievements__num {
    font-size: 30px;
    margin-top: 10px;
  }

  .achievements__text {
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contacts {
    text-align: center;
  }

  .contacts__inner {
    flex-direction: column;
    text-align: start;
  }

  .contacts__info {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .contacts__list {
    margin-bottom: 31px;
  }

  .form__input--area {
    padding-top: 17px;
    margin-bottom: 16px;
  }

  .logo__img {
    padding: 2px 0;
  }

  .footer {
    padding: 27px 0;
  }
}

@media screen and (min-width:375px) and (max-width:920px) and (orientation: landscape) {

  .header__title {
    max-width: 100%;
    padding-top: 0;
    font-size: 40px;
  }

  .header__text {
    display: block;
    font-size: 28px;
  }

  .logo__img {
    max-width: 110px;
  }
}

@media screen and (min-width:279px) and (max-width:374px) {
  .header__title {
    font-size: 30px;
  }

  .header__text {
    font-size: 24px;
  }
}